{% extends 'base.html.twig' %}

{% block title %}Tipos de pagamento{% endblock %}
{% block totalItems %}<span class="badge badge-secondary">{{ payments | length }}</span>{% endblock %}

{% block buttonTopRight %}
    <a href="{{ path('payment_type_new') }}" class="btn btn-primary btn-round float-right">
        <i class="fa fa-plus"></i> Adicionar
    </a>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {% include 'layout/_flashMessage.html.twig' %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        {% include 'layout/table/header.html.twig' with {'titles': ['Nome', 'Desconto', 'Opções'] } %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.name }}</td>
                            <td>{{ payment.discount }}%</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Opções
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="#">Deletar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
