<footer class="footer">
    <div class="container-fluid">
        <nav>
            <p class="text-center mt-15p">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                Developed by Steller <img src="{{ asset('img/steller.png') }}" width="25" alt="Steller"/>
            </p>
        </nav>
    </div>
</footer>