<div class="sidebar" data-image="{{ asset('img/sidebar-5.jpg') }}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Shopping Island
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Tipos de pagamento</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-notes"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Produtos</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-atom"></i>
                    <p>Vendas</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Relatórios</p>
                </a>
            </li>
        </ul>
    </div>
</div>